*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
html {
  overflow-x: hidden;
}
 
body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}
 
#root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
 
